{% extends "skeleton.html" %}

{% block title %}About{% endblock %}

{% block main %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Author
                </h1>
                <h2 class="subtitle">
                    Tristan Kernan
                </h2>
            </div>
        </div>
    </section>
    <hr>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Licenses
                </h1>
                <h2 class="subtitle">
                    The source code is licensed
                    <a href="https://www.gnu.org/licenses/gpl.html">GPL</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. You can
                    find the source on <a href="https://github.com/tristanmkernan/aita">github</a>.
                </h2>
            </div>
        </div>
    </section>
    <hr>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Made With
                </h1>
                <h2 class="subtitle">
                    <a href="https://bulma.io/">Bulma</a>
                    &bull;
                    <a href="https://fontawesome.com/v4.7.0/">Font Awesome</a>
                    &bull;
                    <a href="https://jquery.com/">jQuery</a>
                    &bull;
                    <a href="https://www.chartjs.org/docs/latest//">Chart.js</a>
                    &bull;
                    <a href="https://www.python.org/">Python 3</a>
                    &bull;
                    <a href="http://flask.pocoo.org/">Flask</a>
                    &bull;
                    <a href="https://www.sqlalchemy.org/">SQLAlchemy</a>
                    &bull;
                    <a href="https://www.sqlite.org/index.html">SQLite</a>
                    &bull;
                    <a href="http://docs.celeryproject.org/en/latest/index.html">Celery</a>
                    &bull;
                    <a href="https://praw.readthedocs.io/en/latest/index.html">PRAW</a>
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
