{% extends "skeleton.html" %}

{% block title %}Who's the Asshole?{% endblock %}

{% block main %}
    <div class="container has-text-centered my-1 flexify-me">
        <h1 class="title">
            Is Reddit the Asshole?
        </h1>

        <canvas id="myChart"></canvas>

        <section class="section">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">YTA #</p>
                        <p class="title">{{ yta['count'] }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">NTA #</p>
                        <p class="title">{{ nta['count'] }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">ESH #</p>
                        <p class="title">{{ esh['count'] }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">UND #</p>
                        <p class="title">{{ und['count'] }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Total #</p>
                        <p class="title">{{ total }}</p>
                    </div>
                </div>
            </nav>
        </section>

        <section class="section">
            <p class="heading">What is this?</p>
            <p>
                After seeing <a href="https://www.reddit.com/r/AmItheAsshole/">/r/AmItheAsshole/</a> in my feed a bit
                too often, and finding that MOST people were definitely the asshole and merely seeking validation for
                their shitty behavior, I just had to put it to the test and
                record the results over a decent period of time. You're welcome to participate! Go to <a
                    href="https://www.reddit.com/r/AmItheAsshole/">/r/AmItheAsshole/</a>,
                read the stories, and make your judgment!
            </p>
        </section>

        <section class="section">
            <p class="heading">Methodology</p>
            <p>
                Every so often, the hottest posts from <a href="https://www.reddit.com/r/AmItheAsshole/">/r/AmItheAsshole/</a>
                are scraped. For each post, the votes
                are tallied by counting the score of each top-level comment starting with either YTA, NTA, or ESH.
                The post is marked for whichever of the three receives the majority of the comment score.
            </p>
        </section>

        <section class="section">
            <p class="heading">Hall of Fame</p>

            {% set tables = [("You're DEFINITELY the Asshole", yta['top']), ("Total Vindication", nta['top']), ("Everyone Sucks Here", esh['top'])] %}

            {% for title, posts in tables %}
            <p class="heading my-1">
                {{ title }}
            </p>

            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Link</th>
                    <th>YTA Votes</th>
                    <th>NTA Votes</th>
                    <th>ESH Votes</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ loop.index }}</td>

                        <td>
                            <a target="_blank"
                               href="https://www.reddit.com/r/AmItheAsshole/comments/{{ post.post_id }}/">
                                {{ post.title }}
                                <i class="fa fa-external-link"></i>
                            </a>
                        </td>
                        <td>{{ post.yta }}</td>
                        <td>{{ post.nta }}</td>
                        <td>{{ post.esh }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% endfor %}

        </section>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        $(document)
            .ready(function () {
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        datasets: [
                            {
                                data: [
                                    {{ yta['percent'] }},
                                    {{ nta['percent'] }},
                                    {{ esh['percent'] }},
                                    {{ und['percent'] }}
                                ],
                                backgroundColor: [
                                    'rgba(246, 205, 230, 0.8)',
                                    'rgba(173, 217, 254, 0.8)',
                                    'rgba(221, 249, 217, 0.8)',
                                    'rgba(255, 229, 188, 0.8)',
                                ]
                            },
                        ],
                        labels: [
                            'YTA %',
                            'NTA %',
                            'ESH %',
                            'UND %'
                        ]
                    },
                    options: {}
                });
            });
    </script>
{% endblock %}
