SQLALCHEMY_DATABASE_URI="sqlite:///prod.db"

SECRET_KEY="YOU SHOULD PROBABLY NO WAIT DEFINITELY CHANGE THIS"

PRAW_CLIENT_ID="reddit client id"
PRAW_CLIENT_SECRET="reddit client secret"

PRAW_USER_AGENT="script:aita-stats:v0.0.1dev (by /u/spez)"

CELERY_BROKER_URL="redis://localhost"

SCRAPER_INTERVAL_SECONDS=10
SCRAPER_NUM_POSTS_TO_SCRAPE=5

DEVELOPMENT=1