SQLALCHEMY_DATABASE_URI="sqlite:///prod.db"

SECRET_KEY="you should probably change this"

PRAW_CLIENT_ID="reddit client id"
PRAW_CLIENT_SECRET="reddit client secret"

PRAW_USER_AGENT="script:aita-stats:v0.0.1prod (by /u/spez)"

CELERY_BROKER_URL="redis://redis"

SCRAPER_INTERVAL_SECONDS=3600
SCRAPER_NUM_POSTS_TO_SCRAPE=100

DEVELOPMENT=1